@import url(../css/article.css);

/* ==============  unversal style tag  ============== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ==============  unversal style tag  ============== */

/* ==============  all web site root variables  ============== */
:root {
  --bn-rubik: "Rubik", sans-serif;
  --bn-white: #ffffff;
  --bn-secondary: #eaeaea;
  --bn-secondary-card: #f6f6f6;
  --bn-se-blue: #7296ec;
  --bs-sw-blue: #dce6ff;
  --bn-de-blue: #2959ce;
  --bn-black: #000000;
  --bn-black-dark: #a6a6a6;
  --bn-se-black: #4a4b4c;
  --bn-ne-black: #5e5f61;
  --bn-sn-core: #7f7f7f;
  --bn-oreng: #f78b3b;
  --bn-secondary-off: #8d8d8d;
  --bn-secondary-one: #D2D2D2;
}
/* ==============  all web site root variables  ============== */

/* ============== css pseudo class options ============== */
*:focus{
  outline: 3px dotted var(--bn-se-blue);
  outline-offset: 3px;
}
/* ============== css pseudo class options ============== */
/* ========= body sections style ========= */
body {
}
/* ========= body sections style ========= */

/* ========= all container secction style ========= */
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
/* ========= all container secction style ========= */

/* ========= header section style ========= */
.header {
  margin-bottom: 40px;
}
.top-navbar {
  background-color: var(--bn-secondary-card);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.top-navbar-main {
  width: 1200px;
  display: flex;
  align-items: center;
}
.top-navbar-left {
  display: flex;
  margin-right: 247px;
}
.link-logo {
  margin-right: 40px;
}
.price {
  width: 158px;
  height: 19px;
}
.price > .dollor,
.rubil {
  font-family: var(--bn-rubik);
  font-weight: 400s;
  font-size: 16px;
  line-height: 19px;
}
.price > .dollor > b {
  color: var(--bn-de-blue);
}
.price > .rubil > b {
  color: var(--bn-de-blue);
}
.top-navbar-right {
  display: flex;
  align-items: center;
}
.search-bar {
  background-color: var(--bn-white);
  display: flex;
  align-items: center;
  width: 275px;
  height: 45px;
  border-radius: 60px;
  margin-right: 25px;
}
.search-bar > img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;
  left: 10px;
}
.search-input {
  width: 245px;
  border: none;
  border-radius: 60px;
  padding: 10px 13px;
  font-family: var(--bn-rubik);
  font-weight: 400;
  line-height: 16.59px;
  font-size: 16px;
  color: var(--bn-secondary-off);
  background-color: var(--bn-white);
}
.search-input:placeholder {
  font-family: var(--bn-rubik);
  font-weight: 400;
  line-height: 16.59px;
  font-size: 16px;
}
.search-input:focus {
  outline: none;
}
/* toogle section */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 25px;
}
.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bs-sw-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--bs-sw-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.s-lang {
  position: absolute;
  top: 30%;
  left: 15%;
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--bn-black);
}
.ru-lang {
  position: absolute;
  top: 30%;
  left: 60%;
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--bn-black-dark);
}
.ru-lang:focus {
  font-weight: 700;
  color: var(--bn-black);
}
/* toogle section */
.top-nav-btn {
  padding: 13px 20px;
  background-color: var(--bn-se-blue);
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--bn-white);
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.8s ease;
}
/* .top-nav-btn:hover {
} */
.top-nav-btn:active {
  opacity: 0.6;
}
.navbar {
  height: 41px;
  margin-bottom: 40px;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 21px;
  margin-bottom: 20px;
}
.nav-item {
  margin-right: 33.89px;
}
.nav-item:last-child {
  margin-right: 0px;
}
.nav-link {
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--bn-sn-core);
  text-decoration: none;
  text-transform: capitalize;
}
/* .nav-link:hover {
}
.nav-link:active {
} */
.nav-border {
  margin-bottom: 20px;
}
.rec-banner {
  text-align: center;
}

/* ========= header section style ========= */

/* ========= main section style ========= */
.main {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.news-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 770px;
  flex-basis: 1 1 150px;
  margin-bottom: 60px;
}
.news-card {
  width: 394px;
  height: 382px;
  padding: 20px 17px 15px;
  background-color: var(--bn-secondary-card);
  border-radius: 15px;
  margin-bottom: 10px;
}
.news-card-heading {
  margin-bottom: 10px;
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--bn-black);
  transition: all .6s ease;
}
.news-card-heading:hover{
  text-decoration: underline;
  cursor: pointer;
  color: var(--bn-oreng);
}
.news-card-paragriph {
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--bn-se-black);
}
.card-image {
 padding-top: 15px;
  padding-bottom: 15px;
}
.news-img {
  width: 359px;
  height: 165px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.news-tag-title {
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 14.22px;
  color: var(--bn-ne-black);
}
.news-card-tagline{
  display: flex;
  align-items: center;
}
.news-card-tagline > .news-img-logo{
  margin-right: 10px;
}

.web-site-notf {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.notification-section {
  width: 1050px;
  height: 100px;
  background-image: url(../img/background.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
}
.notif-heading {
  width: 404px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 29px;
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
}
.notif-btn {
  margin-right: 71px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--bn-white);
  background-color: var(--bn-oreng);
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 10px;
}
/* world group */
.in-world{
  height: auto;
}
.in-the-world__heading {
  margin-bottom: 20px;
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 24px;
  line-height: 28.44px;
  color: #000000;
}
.in-the-group {
  display: flex;
  gap: 10px;
  width: 1240px;
  height: auto;
}
.world-left {
  width: 796px;
}
.world-left-card {
  width: 797px;
  height: 205px;
  background-color: var(--bn-secondary-card);
  padding: 20px 17px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
}
.world-left-card:last-child {
margin-bottom: 0px;
}
.world-card-text {
  width: 535px;
  height: 128px;
}
.world-card-heading {
  font-family: var(--bn-rubik), serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 10px;
  transition: all 0.6s ease;
}
.world-card-heading:hover{
  text-decoration: underline;
}
.world-card-paragriph {
  margin-bottom: 17px;
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--bn-se-black);
  transition: all 0.6s ease;
}
.world-card-paragriph:hover{
  text-decoration: underline;
}
.world-footer-text {
  display: flex;
  align-items: center;
}
.world-footer-text > img{
  margin-right: 10px;
}
.world-footer-text > span {
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--bn-ne-black);
}
.world-btn-group{
  margin-top: 25px;
} 

.world-btn-group >
.world-btn {
  margin-top: 28px;
  padding: 17px 343px;
  background-color: var(--bn-secondary);
  color: var(--bn-black);
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.8s ease;
}
.world-btn:hover{
  background-color: var(--bn-secondary-one);
}
.world-right {
  display: flex;
  width: 393px;
  flex-direction: column;
}
.world-right-main {
  height: 502px;
  background: var(--bn-secondary-one);
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 25px;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 10px;
}
.world-text-option {
  width: 356px;
  height: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.world-right-heading {
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--bn-black);
  margin-bottom: 10px;
}
.world-rt-heading {
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--bn-black);
  margin-bottom: 10px;
}
.world-tag-title {
  width: 311px;
  font-family: var(--bn-rubik);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: var(--bn-ne-black);
}
.world-border {
  border-bottom: 1px solid var(--bn-secondary-one);
}
/* world group */
/* ========= main section style ========= */

/* ========= footer section style ========= */
.footer{
  background-color: var(--bn-de-blue);
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-logo{
  margin-bottom: 15px;
}
a{
  text-decoration: none;
  color: var(--bn-white);
}
.footer-list{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

}

.footer-paragriph{
  width: 229px;
  height: 95px;
  margin-right: 203px;
  margin-bottom: 71px;
  font-family: var(--bn-rubik);
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: var(--bn-white);
}

ul.footer-nav-list{
  list-style-type: none;
  margin-right: 100px;
  margin-bottom: 30px;
}
.footer-nav-list:last-child{
  width: 224px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.footer-item{
  margin-bottom: 20px;
}
.footer-link{
  text-decoration: none;
  color: var(--bn-white);
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.footer-tagline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.footer-text{
  width: 161px;
  height: 46px;
  color: var(--bn-white);
  font-family: var(--bn-rubik);
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}
.socail-net> a{
  text-decoration: none;
}
.socail-net a img{
  margin-right: 25px;
  width: 25px;
  height: 25px;
}
/* ========= footer section style ========= */
